/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --text-color: #171717;
}

[data-theme="dark"] {
  --bg-color: #0a0a0a;
  --text-color: #ededed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-geist-sans, Arial, sans-serif);
  background-image: url("/images/RR-Background-Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


